<!DOCTYPE html>

<html  lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>SportsPro</title>

    <meta name="description" content="" />


 <!-- CALENDER CSS -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet"> -->
	  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	  <link rel="stylesheet" href="/calender/css/style.css">
	  <link rel="stylesheet" href="/calender/css/bootstrap-datetimepicker.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <!-- Page CSS -->

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>

   
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="background: url('../../images/a.jpg') no-repeat center center fixed;background-size: cover;">
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  <div class="card bg-black white">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7 text-sm-left">
                        <span class="d-lg-inline-block">
                          <img
                            src="/images/field-hockey.png"
                            height="140"
                            width="140"
                            alt="View Badge User"
                          />
                        </span>  
                          <span class="white d-lg-inline-block">
                              <b class="f1 f-headline i">
                                <%= user.league %>
                              </b> 
                              <p class="display-6">User:<%= user.name %></p>                            </p>                         
                          </span>
                         
                      </div>
                      <div class="col-sm-5 text-sm-end">
                        <div class="dropdown">
                            <button
                              class="btn p-0"
                              type="button"
                              id="logoutID"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                              <i class="bx bx-dots-vertical-rounded white"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="logoutID">
                              <a class="dropdown-item" href="/admin/Logout">Logout</a>
                            </div>
                          </div>
                           
                      </div>
                      
                     
                    </div>
                  </div>
                </div>
                <!-- UPCOMING MATCHES -->
                <div class="col-lg-6 order-1">
                <div class="card mb-4">
                  <div class="card-header tc">
                    <h2>MATCHES</h2>
                  </div>
                  <div class="card">
                    <div class="table-responsive text-nowrap">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Home</th>
                            <th></th>              
                            <th>Away</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                          <% for(match of matches){ 
                                if((typeof match.score=='undefined')){
                          %>
                            <tr>
                              <td>
                                
                                <% const H= teams.find((team)=>{
                                  if(team.name== match.home )
                                  return team;
                            }) %>
                                <div class="avatar flex-shrink-0 me-3">
                                  <img src="<%= H.badge %>" alt="User" class="rounded" />
                                </div>
                                
                              </td>
                              <td> <%= match.home %> </td>
                              <td> 
                                <p class="tc">
                                  <a href="/admin/match/<%= match.number %>">
                                  Match <%= match.number %>
                                  <br>
                                  <%= `${match.time.getDate()}/${match.time.getMonth()}/${match.time.getFullYear()}` %>
                                  <br>
                                  <%= `${match.time.getHours()}:${match.time.getMinutes()}` %>
                                  </a> 
                                </p>
                              </td>
                              <td> <%= match.away %></td>
                              <td>
                                <% const A= teams.find((team)=>{
                                  if(team.name== match.away )
                                  return team;
                            }) %>
                                <div class="avatar flex-shrink-0 me-3">
                                  <img src="<%= A.badge %>" alt="User" class="rounded" />
                                </div>
                                
                              </td>

                            </tr>
                          <% }} %>
                          
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

  
                </div>
                <!-- REGISTRATION -->
                <div class="col-lg-12 order-1">
                  <div class="row">
                     <!-- REGISTRATION FORM -->
                     <div class="col-lg-6 col-md-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                  <h5 class="mb-0">ADD TEAM</h5>
                                </div>
                                <div class="card-body">
                                   
                                  <form action="/admin/addTeam" method="post">
                                    <div class="mb-3">
                                      <label class="form-label" for="name">Name</label>
                                      <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                          <i class="bx bx-group"></i>
                                        </span>
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="name"
                                        />
                                      </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="manager">Manager</label>
                                        <div class="input-group input-group-merge">
                                          <span class="input-group-text">
                                            <i class="bx bx-user"></i>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control"
                                            name="manager"
                                          />
                                        </div>
                                    </div>
                            
                                    <div class="mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <div class="input-group input-group-merge">
                                          <span class="input-group-text">
                                            <i class="bx bx-envelope"></i>
                                          </span>
                                          <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                          />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                      <label class="form-label" for="badge">Badge</label>
                                      <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                          <i class="bx bx-shield"></i>
                                        </span>
                                        <input
                                          type="url"
                                          class="form-control"
                                          name="badge"
                                        />
                                      </div>
                                  </div>
                                    
                                    <input type="hidden" value="<%= user.league %>" name="league">
                                    <input type="hidden" value="1234" name="password">

                                    <% if (message!==""){%>
                                        <p class="error"><%= message %></p>
                                    <% } %>   
                                    <button type="submit" class="btn btn-primary">Add</button>
                                  </form>
                                </div>
                            

                          </div>
                       
                        </div>
                      </div>
                    </div>
                   <!-- REGISTRATION REQUESTS -->
                   <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card h-100">
                      <div class="card d-flex align-items-center justify-content-between">
                            <h5 class="card-header">Pending Requests</h5>
                            <div class="table-responsive text-nowrap">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Team</th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <% 
                                        for(let player of players){
                                            if(player.status=="Pending"){ %>  
                                        <tr>
                                            <td>
                                            <i class="bx bx-star"></i>
                                            </td>
                                            <td><%= player.name %></td>
                                
                                            <td><%= player.team %></td>

                                            <form action="/admin/handleRequests" method="post">
                                                <input type="hidden" name="serial" value="<%= player.serial %>">
                                                <td><button type="submit" class="btn btn-outline-success" name="action" value="Approve">Approve</button></td>
                                                <td><button type="submit" class="btn btn-outline-danger" name="action" value="Decline">Decline</button></td>
                                            </form>
                                        </tr>
                                    <% }} %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                      </div>
                      <div class="card-body">
                      
                      </div>
                    </div>
                 
                  </div>
                   
                  </div>
                </div>

                
                <!-- TEAMS -->
                <div class="col-lg-12 order-2">
                  <div class="card mb-4">
                    <div class="card-header tc">
                      <h2>TEAMS</h2>
                    </div>
                    <div class="card-body mb-4">
                      <div class="row">

                        <% for(let team of teams){ %>   
                        <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card mb-3">
                            <div class="row g-0 bg-black white">
                              <div class="col-md-6">
                                <img class="card-img card-img-left " height="120" width="120" src=<%= team.badge %> alt="Card image">
                              </div>
                              <div class="col-md-6">
                                <div class="card-body">
                                  <h3 class="white"><%= team.name %></h3>
                                  
                                  <a href="#">
                                    <button type="button" class="btn btn-outline-info">VIEW</button>     
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                       
                        </div>
                        <% } %>
                       
                        
                    </div>            
                    </div>
                  </div>
 
                </div>

                <!-- PLANNER -->
                <div class="col-lg-12 order-2">
                  <div class="card mb-4">
                    <div class="card-header tc">
                      <h2>PLANNER</h2>
                      <b class="blue">Season:<%= season.name %></b>
                    </div>
                    <div class="card-body">
                      <form action="/admin/setMatch" method="post" class="datepickers">
                      <section class="">
                        <div class="container">
                          <div class="row justify-content-center">
                            <div class="col-md-4 text-center">
                              <div class="w-100">
                                  <div class="form-group">
                                    <!-- <label class="label-control" for="id_start_datetime">Datetime picker</label> -->
                                    <div class="input-group date" id="id_0">                               
                                      <input type="text" name="matchTime" value="" class="form-control" placeholder="MM/DD/YYYY hh:mm:ss" required/>
                                      <button type="submit"  class="btn btn-primary">SET</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 col-12 mb-3 mb-md-0">
                              <div class="list-group">
                                <% for(match of season.matches){
                                      if(match.time==null){
                                  %>
                                  <a class="list-group-item list-group-item-action" id="list-<%= match.id %>-list" data-bs-toggle="list" href="#list-<%= match.id%>">                                  
                                    GAME <%= match.id %>
                                  </a>
                                  <% }} %>  
                              </div>
                            </div>
                            <div class="col-md-8 col-12">
                              <div class="tab-content">
                                <% for(match of season.matches){
                                      if(match.time==null){
                                  %>
                                <div class="tab-pane fade" id="list-<%= match.id %>">
                                  <div class="row">
                                    <div class="col-lg-6 col-md-12 mb-4">
                                      <h3 class="blue">HOME:<%= match.home %></h3><br />
                                      <% const H= teams.find((team)=>{
                                        if(team.name== match.home )
                                        return team;
                                  }) %>
                                      <img class="card-img card-img-left " height="250" width="80" src="<%= H.badge %>" alt="Card image">

                                    </div>
                                    <div class="col-lg-6 col-md-12 mb-4">
                                      <h3 class="blue">AWAY:<%= match.away %></h3><br />
                                      <% const A= teams.find((team)=>{
                                            if(team.name== match.away )
                                            return team;
                                      }) %>
                                      <img class="card-img card-img-left " height="250" width="10" src="<%= A.badge %>" alt="Card image">

                                    </div>
                                  </div>
                                 
                                
                                 <h3 class="blue">
                                  <input type="radio" name="match" value="<%= match.id %>" required>
                                  <label for="match">Approve</label>
                                 </h3> 
                                </div>
                                <% }} %>
                               
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </section>
                    </form>
                      <span class="dropdown tc">
                         
                        <button class="btn btn-sm btn-outline-primary " type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          New Season
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                        
                          <form action="/admin/newSeason" method="post">
                            <div class="mb-3">
                              <label class="form-label" for="name">Name</label>
                              <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                  <i class="bx bx-calendar-alt"></i>
                                </span>
                                <input
                                  type="text"
                                  class="form-control"
                                  name="season"
                                />
                              </div>
                            </div>
                            
                            <input type="hidden" value="<%= user.league %>" name="league">

                            <button type="submit" class="btn btn-primary">SET UP</button>
                          
                          </form>  
                        </div>
                    </span>
                    </div>
                  </div>
                </div>    
                <!-- /PLANNER -->
                
                </div>  
  

              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          <!-- Content wrapper -->

     <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!--CALENDER SCRIPTS  -->
    <script src="/calender/js/jquery.min.js"></script>
    <script src="/calender/js/popper.js"></script>
    <script src="/calender/js/bootstrap.min.js"></script>
    <script src="/calender/js/moment-with-locales.min.js"></script>
    <script src="/calender/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/calender/js/main.js"></script>
    <!-- /CALENDER SCRIPTS  -->
  </body>
</html>
