<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Player </title>

    <meta name="description" content="" />

    <script src="https://d3js.org/d3.v7.min.js"></script>


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <!-- Page CSS -->

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>


    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" >
              <div class="row">
        
             
        <div >      
                <div class="col-lg-8 mb-4 order-0">
                    <div class="card bg-dark white">
                        <div class="row gy-4 gy-sm-1">         
                            <div class="col-sm-6 col-lg-4">
                              <div class="d-flex justify-content-between align-items-start card-widget-1 pb-3 pb-sm-0">
                                <span class="badge rounded p-2 me-sm-4">
                                    <img src="https://robohash.org/$<%= player.serial %>.png?set=set5" class=" h4 w4 ba b--black-05 pa2 dib" title="Photo">
        
                              
                                  </span>
                                <div>
                                  <h3 class="mb-1"> <b class="f2 f-headline i white">
                                    <%= player.name %>
                                  </b> </h3>
                                  <%
                                  const d = new Date();
                                  let age = d.getFullYear()-player.dob.getFullYear(); 
                                  %>
                                  <p class="mb-0">Age:<%= age %>yrs</p>
                                </div>
                               
                              </div>
                              <hr class="d-none d-sm-block d-lg-none me-4">
                            </div>
                         
                            <div class="col-sm-3 col-lg-2 tc justify-content-center">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                    <%
                                        let s=player.shots.length;
                                        let g=player.goals.length;
                                        let c= (g/s*100).toFixed(1);
                                        c=c>0?c:0
                                        let f= player.fouls.length;
                                    %>
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= s %></h3>
                                    <p class="mb-0"><b>SHOTS</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                           
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= g %></h3>
                                    <p class="mb-0"><b>GOALS</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= c %>%</h3>
                                    <p class="mb-0"><b>CONVERSION</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= f %></h3>
                                    <p class="mb-0"><b>FOULS</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                                <button class="btn btn-outline-primary white">
                                  <a href="#" onclick="goBack()">Back</a>
                                </button>
                            </div>
               
                           
                           
                          </div>
                    </div>
                </div>

                <div class="col-lg-8 mb-4 order-0">
                    <%
                        let goals=[]
                        for(x of player.goals){
                            goals.push({time:x.time,type:x.type});
                            }
                        goals=JSON.stringify(goals)
                        console.log(goals)

                    %>
                    <button class="btn btn-dark" onclick=goalChart(<%= goals %>)>GOAL TYPE RATIO</button>
                    <div id="pieChartContainer"></div>
                   
                </div>
        
              
        </div>
 </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          <!-- Content wrapper -->

        <script>

          function goBack() {
            window.history.back();
          }

            let goalChart=(D)=>{
                let p=document.getElementById('pieChartContainer');
                if(p.innerHTML!=' '){
                    p.innerHTML=' ';
                    return;
                }
                if(D.length<1){
                    p.innerHTML='NO GOAL RECORD';
                    return;
                }
                  // Data provided
         
                let data =  D
        
                // Preprocess the data to count occurrences of each goal type
                var goalTypesCount = {};
                data.forEach(function(d) {
                    if (d.type in goalTypesCount) {
                        goalTypesCount[d.type]++;
                    } else {
                        goalTypesCount[d.type] = 1;
                    }
                });
        
                // Set up SVG dimensions
                var width = 400;
                var height = 400;
                var radius = Math.min(width, height) / 2;
        
                // Create SVG element within the specific div
                var svg = d3.select("#pieChartContainer").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
        
                // Define color scale
                var color = d3.scaleOrdinal()
                    .domain(Object.keys(goalTypesCount))
                    .range(d3.schemeCategory10);
        
                // Generate pie chart data
                var pie = d3.pie()
                    .value(function(d) { return d[1]; });
                var data_ready = pie(Object.entries(goalTypesCount));
        
                // Draw slices
                var arc = d3.arc()
                    .innerRadius(radius/3)
                    .outerRadius(radius);

                var slices = svg.selectAll('path')
                    .data(data_ready)
                    .enter()
                    .append('g')
                    .attr('class', 'slice');

                slices.append('path')
                    .attr('d', arc)
                    .attr('fill', function(d) { return color(d.data[0]); })
                    .attr("stroke", "white")
                    .style("stroke-width", "2px");

                // Add type label within each slice
                slices.append('text')
                    .attr('transform', function(d) { return 'translate(' + arc.centroid(d) + ')'; })
                    .attr('dy', '.35em')
                    .attr('text-anchor', 'middle')
                    .style('font-size', '25px')
                    .text(function(d) { return d.data[0]; });

                // Add count labels
                svg.selectAll('.count-label')
                    .data(data_ready)
                    .enter()
                    .append('text')
                    .attr('class', 'count-label')
                    .text(function(d){ return d.data[1]; })
                    .attr('transform', function(d) { return 'translate(' + arc.centroid(d) + ')'; })
                    .attr('dy', '1.5em')
                    .attr('text-anchor', 'middle')
                    .style('font-size', '25px');

                // Add legend
                var legend = svg.selectAll(".legend")
                    .data(Object.entries(goalTypesCount))
                    .enter().append("g")
                    .attr("class", "legend")
                    .attr("transform", function(d, i) { return "translate(" + (width / 2 + 40) + "," + (i * 20 - 100) + ")"; });

                legend.append("rect")
                    .attr("x", 18)
                    .attr("width", 18)
                    .attr("height", 18)
                    .style("fill", function(d) { return color(d[0]); });

                legend.append("text")
                    .attr("x", 40)
                    .attr("y", 9)
                    .attr("dy", ".35em")
                    .style("text-anchor", "start")
                    .text(function(d) { return d[0]; });
        }

        </script>

            
     <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->


    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

   
  </body>
</html>
