<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard </title>

    <meta name="description" content="" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <!-- Page CSS -->

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>


    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="background: url('https://wallpapers.com/images/featured/field-hockey-g7cyji2fhelfcwg4.jpg') no-repeat center center fixed;background-size: cover;">
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  <div class="card bg-black white">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7 text-sm-left">
                        <span class="d-lg-inline-block">
                          <img
                            src=<%= team.badge %>
                            height="140"
                            width="140"
                            alt="View Badge User"
                          />
                        </span>  
                          <span class="white d-lg-inline-block">
                              <p></p>
                              <b class="f1 f-headline i">
                                <%= team.name %>
                              </b> 
                              <p>Manager:<%= team.manager %></p>                            </p>                         
                          </span>
                         
                      </div>
                      <div class="col-sm-5 text-sm-end">
                        <div class="dropdown">
                            <button
                              class="btn p-0"
                              type="button"
                              id="logoutID"
                              data-bs-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                              <i class="bx bx-dots-vertical-rounded white"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="logoutID">
                              <a class="dropdown-item" href="/admin/Logout"><i class="bx bx-log-out"></i> Logout</a>
                            </div>
                          </div>
                           
                      </div>
                      
                     
                    </div>
                  </div>
                </div>
                  <!-- UPCOMING MATCHES -->
                  <div class="col-lg-6 order-1">
                    <div class="card mb-4">
                      <div class="card-header tc">
                        <h2>MATCHES</h2>
                        <button class="btn btn-dark" onclick=played() id="played">Played</button>
                        <button class="btn btn-primary" onclick=upcoming() id="upcoming">Upcoming</button>
                      </div>
                      <div class="card">
                        <div class="table-responsive text-nowrap">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Home</th>
                                <th></th>              
                                <th>Away</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                          
                                <% for(match of matches){ 
                                 
                                  if((typeof match.score=='undefined')){
                                %>
                                  <tr class="upcoming" style="display:default;">
                                    <td>
                                      <% const H= teams.find((team)=>{
                                        if(team.name== match.home )
                                        return team;
                                  }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= H.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                    <td> <%= match.home %> </td>
                                    <td> 
                                      <p class="tc">
                                        <a href="/admin/squad/<%= match.number %>/<%= team.name %>">
                                        Match <%= match.number %>                                       
                                        <br>
                                        <%= `${match.time.toLocaleDateString()}`%>
                                        <br>
                                        <%= `${match.time.toLocaleTimeString()}`%>
                                        </a>
                                      </p>
                                    </td>
                                    <td> <%= match.away %></td>
                                    <td>
                                      <% const A= teams.find((team)=>{
                                        if(team.name== match.away )
                                        return team;
                                       }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= A.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                  </tr>
                            
                              <% }} %>
                            
                                <% for(match of matches){ 
                                 
                                  if(!(typeof match.score=='undefined')){
                                %>
                                  <tr class="played" style="display: none;">
                                    <td>
                                      <% const H= teams.find((team)=>{
                                        if(team.name== match.home )
                                        return team;
                                  }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= H.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                    <td> <%= match.home %> </td>
                                    <td> 
                                      <p class="tc">
                                        <a href="/admin/squad/<%= match.number %>/<%= team.name %>">
                                        Match <%= match.number %>                                       
                                        <br>
                                        <%= `${match.time.toLocaleDateString()}`%>
                                        <br>
                                        <span class="badge badge-center rounded-pill bg-secondary"><%= match.score.home %></span>
                                        -
                                        <span class="badge badge-center rounded-pill bg-secondary"><%= match.score.away %></span>
       
                                        </a>
                                       
                                      </p>
                                    </td>
                                    <td> <%= match.away %></td>
                                    <td>
                                      <% const A= teams.find((team)=>{
                                        if(team.name== match.away )
                                        return team;
                                       }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= A.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                  </tr>
                            
                              <% }} %>
                                               
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
   
      
                  </div>
                <!-- TEAM PLAYERS -->
                <div class="col-lg-12 order-2">
                  <div class="card mb-4">
                    <div class="card-header tc">
                      <h2>PLAYERS</h2>
                    </div>
                    <div class="card-body mb-4">
                      <div class="row">
                        <% for(let player of players){
                            if(player.status=="Reg"){
                          %>   
                          <li class="d-flex pb-1 col-lg-4 col-md-6 mb-4 bb">
                            <div class="avatar flex-shrink-0 me-3">
                              <img src="https://robohash.org/$<%= player.serial %>.png?set=set5" alt="User" class="rounded" />
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                              <div class="me-2">
                                <h6 class="mb-0"><%= player.name %></h6>
                                <small class="text-muted d-block mb-1"><%= player.serial %></small>
                              </div>
                              <div class="user-progress d-flex align-items-center gap-1">
                                <a href="/admin/<%=player.serial%>">
                                  <button type="button" class="btn btn-outline-info">VIEW</button>     
                                </a>
                              </div>
                            </div>
                          </li>
                        <% }} %>
                       
                        
                    </div>
                   </div>
                  </div>
 
    
                </div>  

                <!-- REGISTRATION -->
                <div class="col-lg-12 order-2">
                  <div class="row">
                      <!-- REGISTRATION FORM -->
                      <div class="col-lg-6 col-md-12 mb-4">
                      <div class="card">
                        <div class="card-body">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                  <h5 class="mb-0">REGISTER PLAYER</h5>
                                </div>
                                <div class="card-body">
                                  <form action="/admin/addPlayer" method="post">
                                    <div class="mb-3">
                                      <label class="form-label" for="name">Name</label>
                                      <div class="input-group input-group-merge">
                                        <span class="input-group-text">
                                          <i class="bx bx-user"></i>
                                        </span>
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="name"
                                        />
                                      </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="dob">Date of Birth</label>
                                        <div class="input-group input-group-merge">
                                          <span class="input-group-text">
                                            <i class="bx bx-calendar"></i>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control"
                                            name="dob"
                                            placeholder="YYYY-MM-DD"
                                          />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="kit">Kit Number</label>
                                        <div class="input-group input-group-merge">
                                          <span class="input-group-text">
                                            <i class="bx bx-cross"></i>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control"
                                            name="kit"
                                          />
                                        </div>
                                    </div>
                  
                                    <input type="hidden" name="team" value=<%= user.team %>>
                                    <input type="hidden" name="league" value=<%= user.league %>>

                                    <button type="submit" class="btn btn-primary">Request</button>
                                  </form>
                                </div>
                            

                          </div>
                        
                        </div>
                      </div>
                    </div>
                    <!-- REGISTRATION REQUESTS -->
                    <div class="col-lg-6 col-md-12 mb-4">
                    <div class="card h-100">
                      <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="card-title m-0 me-2">Registration Requests</h5>
                        
                      </div>
                      <div class="card-body">
                        <ul class="p-0 m-0">
                          <% for(let player of players){ 
                            if(player.status !== "Reg"){%>
                          <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                              <img src="https://robohash.org/$<%= player.serial %>.png?set=set5" alt="User" class="rounded" />
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                              <div class="me-2">
                                <h6 class="mb-0"><%= player.name %></h6>
                                <small class="text-muted d-block mb-1">Register</small>
                              </div>
                              <div class="user-progress d-flex align-items-center gap-1">
                                <h6 class="mb-0"><%= player.status %></h6>
                              </div>
                            </div>
                          </li>
                          <% } } %>
                        </ul>
                      </div>
                    </div>
                  
                  </div>
                    
                  </div>
                </div>

                
  

              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          <!-- Content wrapper -->

     <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      const playedElements = document.querySelectorAll('.played');
      const upcomingElements = document.querySelectorAll('.upcoming');
      let played=()=>{
        document.getElementById('played').classList.replace('btn-dark','btn-primary')
        document.getElementById('upcoming').classList.replace('btn-primary','btn-dark')
        playedElements.forEach(e=>{
          e.style.display='';
        })
        upcomingElements.forEach(e=>{
          e.style.display='none';
        })

      }
      let upcoming=()=>{
        document.getElementById('played').classList.replace('btn-primary','btn-dark')
        document.getElementById('upcoming').classList.replace('btn-dark','btn-primary')
        playedElements.forEach(e=>{
          e.style.display='none';
        })
        upcomingElements.forEach(e=>{
          e.style.display='';
        })
      }
    </script>
  </body>
</html>
