<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard </title>

    <meta name="description" content="" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <!-- Page CSS -->

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>


    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
  </head>

  <body>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="background: url('https://wallpapers.com/images/featured/field-hockey-g7cyji2fhelfcwg4.jpg') no-repeat center center fixed;background-size: cover;">
              <div class="row">

                <div class="col-lg-12 mb-4 order-0">
                    <div class="card bg-dark">
                      <div class="d-flex align-items-end row">
                        <div class="col-sm-7 text-sm-left">
                          <span class="d-lg-inline-block">
                            <img
                              src="/images/field-hockey.png"
                              height="140"
                              width="140"
                              alt="View Badge User"
                            />
                          </span>  
                            <span class="white d-lg-inline-block">
                                <b class="f1 f-headline i">
                                  Masters
                                </b> 
                            </span>
                           
                        </div>                     
                      </div>
  
                  </div>
                  <%- include('../includes/userNav.ejs') %>
                  </div>
                <div class="col-lg-8 mb-4 order-0">
                    <div class="card bg-black white">
                        <div class="row gy-4 gy-sm-1">         
                            <div class="col-sm-6 col-lg-4">
                              <div class="d-flex justify-content-between align-items-start card-widget-1 pb-3 pb-sm-0">
                                <span class="badge rounded p-2 me-sm-4">
                                    <img
                                        src=<%= team.badge %>
                                        height="80"
                                        width="80"
                                        alt="View Badge User"
                                        class="bg-black"
                                      />
                                  </span>
                                <div>
                                  <h3 class="mb-1"> <b class="f2 f-headline i white">
                                    <%= team.name %>
                                  </b> </h3>
                                  <p class="mb-0">Manager:<%= team.manager %></p>
                                </div>
                               
                              </div>
                              <hr class="d-none d-sm-block d-lg-none me-4">
                            </div>
                            <%
                                let S= season.standings.find((t)=>{
                                if(t.team == team.name )
                                return t;
                          })
                            %>
                            <div class="col-sm-3 col-lg-2 tc justify-content-center">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= S.w+S.d+S.l%></h3>
                                    <p class="mb-0"><b>PLAYED</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= S.w%></h3>
                                    <p class="mb-0"><b>WON</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 border-end pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= S.d %></h3>
                                    <p class="mb-0"><b>DRAW</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
                            <div class="col-sm-3 col-lg-2 tc">
                                <div class="card-widget-2 pb-3 pb-sm-0">
                                  <div>
                                    <h3 class="mb-1 tc white f-headline f2"><%= S.l %></h3>
                                    <p class="mb-0"><b>LOSS</b></p>
                                  </div>
                                 
                                </div>
                                <hr class="d-none d-sm-block d-lg-none">
                            </div>
               
                           
                           
                          </div>
                    </div>
                  </div>
                  <!-- UPCOMING MATCHES -->
                  <div class="col-lg-6 order-1">
                    <div class="card mb-4">
                      <div class="card-header tc">
                        <h2>MATCHES</h2>
                        <button class="btn btn-dark" onclick=played() id="played">Played</button>
                        <button class="btn btn-primary" onclick=upcoming() id="upcoming">Upcoming</button>
                      </div>
                      <div class="card">
                        <div class="table-responsive text-nowrap">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Home</th>
                                <th></th>              
                                <th>Away</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                          
                                <% for(match of matches){ 
                                 
                                  if((typeof match.score=='undefined')){
                                %>
                                  <tr class="upcoming" style="display:default;">
                                    <td>
                                      <% const H= teams.find((team)=>{
                                        if(team.name== match.home )
                                        return team;
                                  }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= H.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                    <td> <%= match.home %> </td>
                                    <td> 
                                      <p class="tc">
                                        <a href="/admin/squad/<%= match.number %>/<%= team.name %>">
                                        Match <%= match.number %>                                       
                                        <br>
                                        <%= `${match.time.toLocaleDateString()}`%>
                                        <br>
                                        <%= `${match.time.toLocaleTimeString()}`%>
                                        </a>
                                      </p>
                                    </td>
                                    <td> <%= match.away %></td>
                                    <td>
                                      <% const A= teams.find((team)=>{
                                        if(team.name== match.away )
                                        return team;
                                       }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= A.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                  </tr>
                            
                              <% }} %>
                            
                                <% for(match of matches){ 
                                 
                                  if(!(typeof match.score=='undefined')){
                                %>
                                  <tr class="played" style="display: none;">
                                    <td>
                                      <% const H= teams.find((team)=>{
                                        if(team.name== match.home )
                                        return team;
                                  }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= H.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                    <td> <%= match.home %> </td>
                                    <td> 
                                      <p class="tc">
                                        <a href="/admin/squad/<%= match.number %>/<%= team.name %>">
                                        Match <%= match.number %>                                       
                                        <br>
                                        <%= `${match.time.toLocaleDateString()}`%>
                                        <br>
                                        <span class="badge badge-center rounded-pill bg-secondary"><%= match.score.home %></span>
                                        -
                                        <span class="badge badge-center rounded-pill bg-secondary"><%= match.score.away %></span>
       
                                        </a>
                                       
                                      </p>
                                    </td>
                                    <td> <%= match.away %></td>
                                    <td>
                                      <% const A= teams.find((team)=>{
                                        if(team.name== match.away )
                                        return team;
                                       }) %>
                                      <div class="avatar flex-shrink-0 me-3">
                                        <img src="<%= A.badge %>" alt="User" class="rounded" />
                                      </div>
                                     
                                    </td>
                                  </tr>
                            
                              <% }} %>
                                               
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
   
      
                  </div>
                <!-- TEAM PLAYERS -->
                <div class="col-lg-12 order-2">
                  <div class="card mb-4">
                    <div class="card-header tc">
                      <h2>PLAYERS</h2>
                    </div>
                    <div class="card-body mb-4">
                      <div class="row">
                        <% for(let player of players){
                            if(player.status=="Reg"){
                          %>   
                          <li class="d-flex pb-1 col-lg-3 col-md-4 mb-2 bb ">
                            <div class="avatar flex-shrink-0 me-3">
                              <img src="https://robohash.org/$<%= player.serial %>.png?set=set5" alt="User" class="rounded" />
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                              <div class="me-2">
                                <h6 class="mb-0"><%= player.name %></h6>
                                <small class="text-muted d-block mb-1"><%= player.serial %></small>
                              </div>
                              <div class="user-progress d-flex align-items-center gap-1">
                                <a href="/admin/<%=player.serial%>">
                                  <button type="button" class="btn btn-outline-info">VIEW</button>     
                                </a>
                              </div>
                            </div>
                          </li>
                        <% }} %>
                       
                        
                    </div>
                   </div>
                  </div>
 
    
                </div>  
            
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          <!-- Content wrapper -->

     <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
      const playedElements = document.querySelectorAll('.played');
      const upcomingElements = document.querySelectorAll('.upcoming');
      let played=()=>{
        document.getElementById('played').classList.replace('btn-dark','btn-primary')
        document.getElementById('upcoming').classList.replace('btn-primary','btn-dark')
        playedElements.forEach(e=>{
          e.style.display='';
        })
        upcomingElements.forEach(e=>{
          e.style.display='none';
        })

      }
      let upcoming=()=>{
        document.getElementById('played').classList.replace('btn-primary','btn-dark')
        document.getElementById('upcoming').classList.replace('btn-dark','btn-primary')
        playedElements.forEach(e=>{
          e.style.display='none';
        })
        upcomingElements.forEach(e=>{
          e.style.display='';
        })
      }
    </script>
  </body>
</html>
